* {
  margin: 0;
  padding: 0;
}

/*ESITLO DE LAS CAJAS*/
/*Codigo repetido para fondo de imagen*/
@font-face {
  font-family: "Lobster";
  src: url("../Lobster/Lobster-Regular.ttf");
}
body {
  width: 100%;
  height: 100vh;
  background-color: rgb(221, 249, 255);
}

/*Animacion del Header*/
#animatedMenu {
  animation-name: movimiento;
  animation-duration: 5s;
}

@keyframes movimiento {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
  }
}
/************************  HEADERS y TITULOS  *******************************/
/*Todas las paginas tendra el mismo header que nos llevara al home. Y cada una su correspondiente Titulo de pagina.*/
.headerNuestraHistoria {
  grid-area: header;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  box-shadow: 0px 0px 20px black;
  background-color: #45bcb8;
  background-image: linear-gradient(315deg, #f8ef42 -10%, #45bcb8 54%, #eec0c6 100%);
}
.headerNuestraHistoria a {
  color: white;
  text-decoration: none;
  text-shadow: 0 0 2px black;
}
.headerNuestraHistoria h1 {
  margin: auto;
  font-family: "Lobster";
  font-size: xx-large;
}

.titleNuestraHistoria {
  grid-area: title;
  display: flex;
  flex-direction: row;
  padding-left: 3%;
  background-color: #45bcb8;
  box-shadow: 0px 0px 10px black;
  text-shadow: 0 0 2px black;
}
.titleNuestraHistoria h2 {
  margin: 2px 0% 0% 5px;
  font-family: "Lobster";
  font-size: x-large;
  color: white;
}

/*Aprovecho el loop para hacer media queries a todos los headeres y titles de las paginas*/
@media (max-width: 992px) {
  .headerNuestraHistoria a {
    font-size: xxx-large;
  }

  .titleNuestraHistoria h2 {
    font-size: xx-large;
    padding-top: 1%;
  }
}
.headerCursosEntrevistas {
  grid-area: header;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  box-shadow: 0px 0px 20px black;
  background-color: #45bcb8;
  background-image: linear-gradient(315deg, #f8ef42 -10%, #45bcb8 54%, #eec0c6 100%);
}
.headerCursosEntrevistas a {
  color: white;
  text-decoration: none;
  text-shadow: 0 0 2px black;
}
.headerCursosEntrevistas h1 {
  margin: auto;
  font-family: "Lobster";
  font-size: xx-large;
}

.titleCursosEntrevistas {
  grid-area: title;
  display: flex;
  flex-direction: row;
  padding-left: 3%;
  background-color: #45bcb8;
  box-shadow: 0px 0px 10px black;
  text-shadow: 0 0 2px black;
}
.titleCursosEntrevistas h2 {
  margin: 2px 0% 0% 5px;
  font-family: "Lobster";
  font-size: x-large;
  color: white;
}

/*Aprovecho el loop para hacer media queries a todos los headeres y titles de las paginas*/
@media (max-width: 992px) {
  .headerCursosEntrevistas a {
    font-size: xxx-large;
  }

  .titleCursosEntrevistas h2 {
    font-size: xx-large;
    padding-top: 1%;
  }
}
.headerPlanRestaurar {
  grid-area: header;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  box-shadow: 0px 0px 20px black;
  background-color: #45bcb8;
  background-image: linear-gradient(315deg, #f8ef42 -10%, #45bcb8 54%, #eec0c6 100%);
}
.headerPlanRestaurar a {
  color: white;
  text-decoration: none;
  text-shadow: 0 0 2px black;
}
.headerPlanRestaurar h1 {
  margin: auto;
  font-family: "Lobster";
  font-size: xx-large;
}

.titlePlanRestaurar {
  grid-area: title;
  display: flex;
  flex-direction: row;
  padding-left: 3%;
  background-color: #45bcb8;
  box-shadow: 0px 0px 10px black;
  text-shadow: 0 0 2px black;
}
.titlePlanRestaurar h2 {
  margin: 2px 0% 0% 5px;
  font-family: "Lobster";
  font-size: x-large;
  color: white;
}

/*Aprovecho el loop para hacer media queries a todos los headeres y titles de las paginas*/
@media (max-width: 992px) {
  .headerPlanRestaurar a {
    font-size: xxx-large;
  }

  .titlePlanRestaurar h2 {
    font-size: xx-large;
    padding-top: 1%;
  }
}
.headerLibros {
  grid-area: header;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  box-shadow: 0px 0px 20px black;
  background-color: #45bcb8;
  background-image: linear-gradient(315deg, #f8ef42 -10%, #45bcb8 54%, #eec0c6 100%);
}
.headerLibros a {
  color: white;
  text-decoration: none;
  text-shadow: 0 0 2px black;
}
.headerLibros h1 {
  margin: auto;
  font-family: "Lobster";
  font-size: xx-large;
}

.titleLibros {
  grid-area: title;
  display: flex;
  flex-direction: row;
  padding-left: 3%;
  background-color: #45bcb8;
  box-shadow: 0px 0px 10px black;
  text-shadow: 0 0 2px black;
}
.titleLibros h2 {
  margin: 2px 0% 0% 5px;
  font-family: "Lobster";
  font-size: x-large;
  color: white;
}

/*Aprovecho el loop para hacer media queries a todos los headeres y titles de las paginas*/
@media (max-width: 992px) {
  .headerLibros a {
    font-size: xxx-large;
  }

  .titleLibros h2 {
    font-size: xx-large;
    padding-top: 1%;
  }
}
/************************  HOME  *******************************/
#gridHome {
  display: grid;
  grid-template-areas: "header header" "menu menu" "image paragraph" "footer footer";
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 8% 82% 90%;
  font-family: "Lobster";
}
#gridHome .header {
  grid-area: header;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  height: 10%;
  position: fixed;
  box-shadow: 0px 0px 20px black;
  background-color: #45bcb8;
  background-image: linear-gradient(315deg, #f8ef42 -10%, #45bcb8 54%, #eec0c6 110%);
  text-shadow: 0 0 2px black;
}
#gridHome .header h1 {
  margin: auto;
  font-family: "Lobster";
  font-size: xx-large;
  color: white;
}
#gridHome .menuHome {
  grid-area: menu;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: x-large;
}
#gridHome .menuHome a {
  color: white;
  text-shadow: 0 0 2px black;
  margin: auto;
  padding: 5px;
  text-decoration: none;
}
#gridHome .menuHome div {
  margin: auto;
  padding: 5px;
  border-bottom: 1px solid black;
}
#gridHome .menuHome div:hover {
  color: #45bcb8;
  border-bottom: 2px solid #45bcb8;
}
#gridHome .imageHome {
  grid-area: image;
  display: flex;
  flex-flow: row nowrap;
}
#gridHome .imageHome .divImage {
  width: 70%;
  height: 70%;
  padding: 5%;
  background-image: url("../images/MasQueDos_Completa.jpg");
  margin: auto;
  border-radius: 5px;
  border: 1px solid #999;
  box-shadow: 2px 2px 10px 2px black;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
#gridHome .paragraphHome {
  grid-area: paragraph;
  display: flex;
  flex-flow: row nowrap;
}
#gridHome .paragraphHome .divParagraph {
  width: 70%;
  height: 70%;
  padding: 5%;
  background: url("https://us.123rf.com/450wm/ke77kz/ke77kz1410/ke77kz141000580/33084829-vieja-textura-del-papel-del-grunge-fondo-de-papel-de-grunge-natural-para-el-dise%C3%B1o-.jpg");
  margin: auto;
  border-radius: 5px;
  border: 1px solid #999;
  box-shadow: 2px 2px 10px 2px black;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: justify;
  overflow: auto;
}
#gridHome .footerHome {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #45bcb8;
}
#gridHome .footerHome .pform {
  font-size: x-large;
  height: 5%;
  margin: auto;
  text-align: center;
  color: white;
  padding-top: 3%;
  text-shadow: 0 0 2px black;
}
#gridHome .footerHome div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid white;
  border-radius: 30px;
  margin: auto;
  padding: 2%;
}
#gridHome .footerHome div input {
  border-radius: 30px;
  border-color: white;
  padding: 5px;
}
#gridHome .footerHome div .pTyC {
  padding: 10px;
  color: white;
  text-shadow: 0 0 2px black;
}
#gridHome .footerHome h4 {
  margin: auto;
  color: white;
  text-shadow: 0 0 2px black;
}

/************************  NUESTRA HISTORIA  *******************************/
#gridNuestraHistoria {
  display: grid;
  grid-template-areas: "header header" "title title" "image paragraph" "subtitle subtitle" "testimony testimony";
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 5% 85% 5% 95%;
}
#gridNuestraHistoria .imageNuestraHistoria {
  grid-area: image;
  display: flex;
  flex-flow: row nowrap;
}
#gridNuestraHistoria .imageNuestraHistoria .divImageNuestraHistoria {
  width: 70%;
  height: 70%;
  padding: 5%;
  margin: auto;
  border-radius: 5px;
  border: 1px solid #999;
  box-shadow: 2px 2px 10px 2px black;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://us.123rf.com/450wm/number168/number1681803/number168180300032/98191190-pintura-al-%C3%B3leo-colorida-abstracta-en-textura-de-la-lona-trazo-de-pincel-dibujado-a-mano-pinturas-al.jpg?ver=6");
}
#gridNuestraHistoria .paragraphNH {
  grid-area: paragraph;
  display: flex;
  flex-flow: row nowrap;
}
#gridNuestraHistoria .paragraphNH .divParagraphNH {
  /*margin: auto;*/
  width: 70%;
  height: 70%;
  padding: 5%;
  background: url("https://us.123rf.com/450wm/ke77kz/ke77kz1410/ke77kz141000580/33084829-vieja-textura-del-papel-del-grunge-fondo-de-papel-de-grunge-natural-para-el-dise%C3%B1o-.jpg");
  margin: auto;
  border-radius: 5px;
  border: 1px solid #999;
  box-shadow: 2px 2px 10px 2px black;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: justify;
  overflow: auto;
}
#gridNuestraHistoria .subtitleNH {
  grid-area: subtitle;
  display: flex;
  flex-direction: row;
  padding-left: 3%;
  background-color: #45bcb8;
  box-shadow: 0px 0px 10px black;
}
#gridNuestraHistoria .subtitleNH h2 {
  margin: 2px 0% 0% 5px;
  font-family: "Lobster";
  font-size: x-large;
  color: white;
  text-shadow: 0 0 2px black;
}
#gridNuestraHistoria .testimony {
  grid-area: testimony;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
#gridNuestraHistoria .testimony div {
  width: 30%;
  height: 47%;
  margin: 5px;
  box-shadow: 2px 2px 10px 0px black;
}
#gridNuestraHistoria .testimony div:hover {
  transition: 20ms;
  box-shadow: 4px 4px 5px 0px #999;
}
#gridNuestraHistoria .testimony div img {
  width: 100%;
  height: 100%;
}

/************************  Cursos y Entrevistas  *******************************/
#gridCursosEntrevistas {
  display: grid;
  grid-template-areas: "header header" "title title" "video video" "calendar turns";
  grid-template-columns: 70% 30%;
  grid-template-rows: 10% 5% 85% 100%;
}
#gridCursosEntrevistas .mainVideo {
  grid-area: video;
  display: flex;
  padding: 3%;
  justify-content: center;
}
#gridCursosEntrevistas .mainVideo .boxVideo {
  width: 100%;
  height: 72vh;
  display: flex;
  flex-direction: row;
  border-radius: 1%;
  box-shadow: 0px 0px 10px black;
}
#gridCursosEntrevistas .mainVideo .boxVideo iframe {
  width: 100%;
  height: 100%;
}
#gridCursosEntrevistas #calendar {
  grid-area: calendar;
  padding: 3%;
}
#gridCursosEntrevistas #calendar iframe {
  display: flex;
  flex-direction: row;
  border-radius: 1%;
  box-shadow: 0px 0px 10px black;
  width: 100%;
  height: 100%;
}
#gridCursosEntrevistas #turns {
  grid-area: turns;
  display: flex;
  padding: 30%;
}
#gridCursosEntrevistas #turns div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#gridCursosEntrevistas #turns div p {
  text-align: justify;
}
#gridCursosEntrevistas #turns div button {
  display: flex;
  flex-direction: row;
  border-radius: 1%;
  box-shadow: 0px 0px 10px black;
  width: 100%;
  height: 20%;
  color: white;
  background-color: #45bcb8;
  font-family: "Lobster";
  font-size: medium;
}
#gridCursosEntrevistas #turns div button h3 {
  margin: auto;
  text-shadow: 0 0 2px black;
}

/************************  Plan Restaurar  *******************************/
#gridPlanRestaurar {
  display: grid;
  grid-template-areas: "header header" "title title" "links paragraphPR";
  grid-template-columns: 40% 60%;
  grid-template-rows: 10% 5% 85%;
}
#gridPlanRestaurar .links {
  grid: links;
  display: flex;
  justify-content: center;
  padding: 5%;
}
#gridPlanRestaurar .links section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 10px #999;
  border-radius: 50px;
  padding: 5%;
}
#gridPlanRestaurar .links section div {
  width: 250px;
  height: 20px;
  margin: auto;
  text-align: center;
  padding: 20px;
  color: white;
  border: 1px solid black;
  border-radius: 50px;
  background-color: #45bcb8;
  text-shadow: 0 0 2px black;
}
#gridPlanRestaurar .links section div:hover {
  background-color: #369a96;
  border: 2px solid black;
}
#gridPlanRestaurar .paragraphPR {
  grid: paragraphPR;
  margin: auto;
  padding: 10%;
}

/************************  Libros  *******************************/
#gridLibros {
  display: grid;
  grid-template-areas: "header" "title" "libros";
  grid-template-rows: 10% 5% 85%;
}
#gridLibros #contentCarrusel {
  overflow: hidden;
}
#gridLibros #contentCarrusel a {
  text-decoration: none;
  font-size: xxx-large;
  color: black;
}
#gridLibros #contentCarrusel a:hover {
  color: #45bcb8;
}
#gridLibros #contentCarrusel .carrusel {
  height: 100%;
  position: relative;
}
#gridLibros #contentCarrusel .carrusel .tarjetaCarrusel {
  height: 100%;
}
#gridLibros #contentCarrusel .carrusel .flechasCarrusel {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#gridLibros #contentCarrusel .carrusel #slide-1 {
  padding-top: 3%;
}
#gridLibros #contentCarrusel .carrusel #slide-1 .imgLibros {
  width: 80%;
  height: 70vh;
  margin: auto;
  border-radius: 5px;
  border: 1px solid #999;
  box-shadow: 2px 2px 10px 2px black;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
#gridLibros #contentCarrusel .carrusel #slide-2 {
  padding-top: 3%;
}
#gridLibros #contentCarrusel .carrusel #slide-2 .imgLibros {
  width: 80%;
  height: 70vh;
  margin: auto;
  border-radius: 5px;
  border: 1px solid #999;
  box-shadow: 2px 2px 10px 2px black;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
#gridLibros #contentCarrusel .carrusel #slide-3 {
  padding-top: 3%;
}
#gridLibros #contentCarrusel .carrusel #slide-3 .imgLibros {
  width: 80%;
  height: 70vh;
  margin: auto;
  border-radius: 5px;
  border: 1px solid #999;
  box-shadow: 2px 2px 10px 2px black;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/*MEDIA QUERIES*/
@media (max-width: 992px) {
  /*MQ HOME*/
  #gridHome {
    grid-template-areas: "header" "menu" "image" "paragraph" "footer";
    grid-template-columns: 100%;
    grid-template-rows: 10% 8% 82% 50% 90%;
  }
  #gridHome .imageHome .divImage {
    background-image: url("../images/MasQueDos_Completa.jpg");
  }

  /*MQ NUESTRA HISTORIA*/
  #gridNuestraHistoria {
    display: grid;
    grid-template-areas: "header" "title" "image" "paragraph" "subtitle" "testimony";
    grid-template-columns: 100%;
    grid-template-rows: 10% 5% 85% 70% 5% 95%;
  }
  #gridNuestraHistoria .headerNuestraHistoria a {
    font-size: xxx-large;
  }
  #gridNuestraHistoria .paragraphNH .divParagraphNH {
    font-size: x-large;
  }
  #gridNuestraHistoria .subtitleNH {
    justify-content: center;
  }
  #gridNuestraHistoria .subtitleNH h2 {
    font-size: xxx-large;
    text-align: center;
  }
  #gridNuestraHistoria .testimony {
    grid-area: testimony;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
  }
  #gridNuestraHistoria .testimony div {
    width: 80%;
    height: 60%;
  }

  /*MQ PLAN RESTAURAR*/
  #gridPlanRestaurar {
    display: grid;
    grid-template-areas: "header" "title" "paragraphPR" "links";
    grid-template-columns: 100%;
    grid-template-rows: 10% 5% 15% 70%;
  }
  #gridPlanRestaurar .paragraphPR {
    font-size: large;
    text-align: center;
    padding: 3%;
  }
  #gridPlanRestaurar .links {
    padding: 1%;
  }
  #gridPlanRestaurar .links section {
    display: flex;
    width: 80%;
    height: 100%;
  }
  #gridPlanRestaurar .links section div {
    width: 600px;
    height: 50px;
    font-size: x-large;
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  /*MQ HOME*/
  #gridHome .imageHome .divImage {
    width: 85%;
    height: 70%;
    background-image: url("../images/MasQueDos_media768px.jpg");
  }
  #gridHome .paragraphHome .divParagraph {
    width: 85%;
    height: 70%;
  }
}
@media (max-width: 576px) {
  /*MQ HOME*/
  #gridHome .imageHome .divImage {
    background-image: url("../images/MasQueDos_Completa.jpg");
  }

  /*MQ NUESTRA HISTORIA*/
  #gridNuestraHistoria .testimony div {
    width: 70%;
    height: 47%;
  }

  /*MQ CURSOS Y ENTREVISTAS*/
  #gridCursosEntrevistas {
    display: grid;
    grid-template-areas: "header" "title" "video" "calendar" "turns";
    grid-template-columns: 100%;
    grid-template-rows: 10% 5% 85% 70% 30%;
  }
  #gridCursosEntrevistas #turns {
    padding: 1%;
  }
  #gridCursosEntrevistas #turns div button {
    width: 100%;
    height: 50%;
  }
}

/*# sourceMappingURL=styles.css.map */
