/*Comentario de bloque*/
* {
    margin: 0;
}

@font-face {
    font-family: 'Inspiration';
    src: url("../Inspiration/Inspiration-Regular.ttf");
}

.mainSize{
    width: 100%;
}

.mainSize img{
    width: 500px;
    float: right;
    overflow: hidden;
}

.parrafo{
    width: 60%;
    padding-left: 3%;
    padding-right: 3%;
    text-align: justify;
}

.headerStyle {
    font-family: 'Inspiration';
    font-size: xxx-large;
    color: rgb(28, 219, 187);
    text-align: center;
    padding: 5vh;
}

.headerStyleBackHome {
    width: 100%;
    height: 50%;

    position: relative;
    bottom: 100px;
    right: 500px;
    font-size: x-large;
}

/*Cursos y Entrevistas acomodo el tamaño*/
#CyESize {
    font-size: xx-large;
}

.footerStyle{
    text-align: center;
    font-weight: 100;
    padding: 10;
}

.navStyle{
    height: 30%;
    padding: 60px;
    margin-bottom: 0;
    text-align: center;
}

.navStyle a{
    display: inline-block;
    background-color: aqua;
    width: 90px;
    height: 350px;
    border: solid black;
}

.navStyle a:hover{
    border: 4px solid black;
}

/*Nuestra historia acomodo la imagen con el parrafo*/
.imgAndParagraph {
    width: 100%;
    height: 100%;
}
.imgAndParagraph img{
    position: relative;
    bottom: 250px; right: 400px;
}

.imgAndParagraph p{
    margin-left: 400px;
    text-align: justify;
    padding: 10px;
}

/*Plan Restaurar*/
.boxesMain span{
    border: solid burlywood;
    border-style: groove;
    padding: 10px;
}

.boxesMain section{
    margin-left: 25%;
    margin-top: 15px;
}

/*Libros*/

