/*Comentario de bloque*/
* {
    margin: 0; padding: 0;
}

body {
    width: 100%;
    height: 100vh;
}

/*.border {
        border: solid 1px black;
}*/

@font-face {
    font-family: 'Inspiration';
    src: url("../Inspiration/Inspiration-Regular.ttf");
}

/*Degradados*/
.gradientL {
    background-color: #f9ea8f;
background-image: linear-gradient(315deg, #f9ea8f 0%, #aff1da 74%);
}

.gradientMenu {
    background-color: #4dccc6;
background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
}

/*Transformaciones*/
.moveMenu {
    transition: all 50ms;
}

.moveMenu:hover {
    border: solid 4px black;
    padding: 30px;
}

/*ANIMACIONES*/

.animateTitle {
    animation-name: title;
    animation-duration: 20s;
    animation-iteration-count: 3;
}

@keyframes title {
    from {
        transform: translateX(500px);    
    }
    
    to {
       transform: translateX(-500px); 
    }
}

/*HOME*/
#gridHome {
    display: grid;
    /*Estructura grids areas*/
    grid-template-areas: 
    "header header header"
    "menu image paragraph"
    "menu image paragraph"
    "footer footer footer"
    ;

    grid-template-columns:35% 30% auto;
    grid-template-rows: 15% auto auto 5%;
}

header {
    grid-area: header;
    font-size: xx-large;
    text-align: center;
    font-family: 'Inspiration';
    padding: 5px;
}

#paragraph {
    grid-area: paragraph;
    padding: 3%;
    justify-self: center;
}

#image {
    grid-area: image;
}

section img {
    width: 100%;
    height: 100%;
}

nav {
    grid-area: menu;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

div {
    border: solid 2px black;
    margin: 10px 5%;
    padding: 25px;
    font-family: sans-serif;
    text-align: center;
    
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
}

/*NUESTRA HISTORIA*/
body {
    width: 100%;
    height: 100vh;
}

@font-face {
    font-family: 'Inspiration';
    src: url("../Inspiration/Inspiration-Regular.ttf");
}

#gridNH {
    display: grid;
    /*Estructura grids areas*/
    grid-template-areas: 
    "header header header"
    "image image paragraph"
    "subtitle subtitle subtitle"
    "testimony testimony testimony"
    "footer footer footer"
    ;

    grid-template-columns:15% 15% auto;
    grid-template-rows: 15% auto 10% 35% 5%;
}

headerNH {
    grid-area: header;
    font-size: xx-large;
    text-align: center;
    font-family: 'Inspiration';
    padding: 5px;
}

#paragraphNC {
    grid-area: paragraph;
    padding: 3%;
    justify-self: center;
}

#imageNC {
    grid-area: image;
}

.subtitleTestimony {
    grid-area: subtitle;
    text-align: center;
}

.testimony {
    grid-area: testimony;
    display: flex;
}

.testimony span{
    overflow: hidden;
    flex-flow: column nowrap;
    margin: 10px;
    background-color: aquamarine;
    text-align: justify;
}

footerNC {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
}
