/*Codigo repetido para fondo de imagen*/

@mixin fondoImg {
    margin: auto;
    border-radius:5px;
    border: 1px solid #999;
    box-shadow: 2px 2px 10px 2px black;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-size: cover;
}