* {
    margin: 0; padding: 0;
}

@font-face {
    font-family: 'Lobster';
    src: url("../Lobster/Lobster-Regular.ttf")
}

@mixin tamaño ($ancho, $alto){
    width: $ancho;
    height: $alto;
}

body {
    @include tamaño (100%, 100vh);
    background-color: rgb(221, 249, 255);
}

/************************  HEADERS y TITULOS  *******************************/
/*Todas las paginas tendra el mismo header que nos llevara al home. Y cada una su correspondiente Titulo de pagina.*/

@each $sections in NuestraHistoria, AlimentoDiario, CursosEntrevistas, PlanRestaurar, Libros  {
    .header#{$sections} {
        grid-area: header;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        box-shadow: 0px 0px 20px black;
        background-color: #45bcb8;
        background-image: linear-gradient(315deg, #f8ef42 -10%, #45bcb8 54%, #eec0c6 100%);
        a {
            color: white;
            text-decoration: none;
        }
        h1 {
            margin: auto;
            font-family: "Lobster";
            font-size: xx-large;
        }
    }

    .title#{$sections} {
        grid-area: title;
        display: flex;
        flex-direction: row;
        padding-left: 3%;
        background-color: #45bcb8;
        box-shadow: 0px 0px 10px black;
            
        h2 {
            margin: 2px 0% 0% 5px;
            font-family: "Lobster";
            font-size: x-large;
            color: white;
        }
    }   
}

/************************  HOME  *******************************/

#gridHome {
    display: grid;
    grid-template-areas: 
    "header header"
    "menu menu"
    "image paragraph"
    "footer footer";

    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 8% 82% 5%;

    .header {
        grid-area: header;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        box-shadow: 0px 0px 20px black;
        background-color: #45bcb8;
        background-image: linear-gradient(315deg, #f8ef42 -10%, #45bcb8 54%, #eec0c6 110%);

        h1 {
            margin: auto;
            font-family: "Lobster";
            font-size: xx-large;
            color: white;
        }
    }

    .menuHome {
        grid-area: menu;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        a {
            color: #000;
            margin: auto;
            padding: 5px;
            text-decoration: none;
        }
        div {
            margin: auto;
            padding: 5px;
            border-bottom: 2px solid black;
            &:hover {
                color: #45bcb8;
                border-bottom: 2px solid #45bcb8;
            }
        }
    }

    .imageHome {
        grid-area: image;
        display: flex;
        flex-flow: row nowrap;
        .divImage {
            margin: auto;
            border-radius:5px;
            border: 1px solid #999;
            box-shadow: 2px 2px 10px 2px black;
            padding:35%;
            background-size: 100% 100%;
            background-repeat:no-repeat;
            background:url(../images/MasQueDos_PastoresDoba.jpg);
            background-size: cover;
        }
    }

    .paragraphHome {
        grid-area: paragraph;
        display: flex;
        flex-flow: row nowrap;
        .divParagraph {
            margin: 4% 4% 4% 4%;
            padding: 2%;
            border-radius: 20px;
            box-shadow: 5px 0px 5px 0px black;
            background-size: 100% 100%;
            background-repeat:no-repeat;
            background:url("http://cdn26.us1.fansshare.com/photo/wallpaperbackground/vintage-textured-wallpaper-hd-vintage-688868932.jpg");
            background-size: cover;
        }
    }

    .footerHome {
        grid-area: footer;
        display: flex;
        background-color: #45bcb8;
        h4 {
            margin: auto;
            color: white;
        }
        
    }
}

/************************  NUESTRA HISTORIA  *******************************/

#gridNuestraHistoria {
    display: grid;
    grid-template-areas: 
    "header header"
    "title title"
    "image paragraph"
    "subtitle subtitle"
    "testimony testimony";

    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 5% 85% 5% 95%;

    .imageNuestraHistoria {
        grid-area: image;
        display: flex;
        flex-flow: row nowrap;
        .divImageNuestraHistoria {
            margin: auto;
            border-radius:5px;
            border: 1px solid #999;
            box-shadow: 2px 2px 10px 2px black;
            padding:35%;
            background-size: 100% 100%;
            background-repeat:no-repeat;
            background:url("https://cdn0.bodas.com.mx/article-real-wedding/037/3_2/1280/jpg/1304931.jpeg");
            background-size: cover;
        }
    }

    .paragraphNH {
        grid-area: paragraph;
        display: flex;
        flex-flow: row nowrap;
        .divParagraphNH {
            margin: 4% 4% 4% 4%;
            padding: 2%;
            border-radius: 20px;
            box-shadow: 5px 0px 5px 0px black;
            background-size: 100% 100%;
            background-repeat:no-repeat;
            background:url("http://cdn26.us1.fansshare.com/photo/wallpaperbackground/vintage-textured-wallpaper-hd-vintage-688868932.jpg");
            background-size: cover;
        }
    }

    .subtitleNH {
        grid-area: subtitle;
        display: flex;
        flex-direction: row;
        padding-left: 3%;
        background-color: #45bcb8;
        box-shadow: 0px 0px 10px black;
            
        h2 {
            margin: 2px 0% 0% 5px;
            font-family: "Lobster";
            font-size: x-large;
            color: white;
        }
    }   

    .testimony {
        grid-area: testimony;
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        div {
            @include tamaño(30%, 47%);
            margin: 5px;
            box-shadow: 2px 2px 10px 0px black;
            &:hover {
                transition: 20ms;
                box-shadow: 4px 4px 5px 0px #999;
            }

            img {
                @include tamaño(100%, 100%);
            }
        }
    }

}

/************************  Cursos y Entrevistas  *******************************/

#gridCursosEntrevistas {
    display: grid;
    grid-template-areas: 
    "header"
    "title"
    "image";

    grid-template-rows: 10% 5% 85%;
}

/************************  Alimento Diario  *******************************/

#gridAlimentoDiario {
    display: grid;
    grid-template-areas: 
    "header"
    "title"
    "image";

    grid-template-rows: 10% 5% 85%;
}

/************************  Plan Restaurar  *******************************/

#gridPlanRestaurar {
    display: grid;
    grid-template-areas: 
    "header header"
    "title title"
    "links paragraphPR";

    grid-template-columns: 40% 60%;
    grid-template-rows: 10% 5% 85%;

    .links {
        grid: links;
        display: flex;
        justify-content: center;
        padding: 5%;
        section {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            background-color: white;
            box-shadow: 0px 0px 10px #999;
            border-radius: 50px;
            padding: 5%;
            div {
                @include tamaño(250px, 20px);
                margin: auto;
                text-align: center;
                padding: 20px;
                color: white;
                border: 1px solid #999;
                border-radius: 50px;
                background-color: #45bcb8;
                &:hover {
                    transition:500ms ease-in-out;
                    background-color: #369a96;
                }
            }
        }
    }

    .paragraphPR {
        grid: paragraphPR;
        margin: auto;
        padding: 10%;
    }
}

/************************  Libros  *******************************/

#gridLibros {
    display: grid;
    grid-template-areas: 
    "header"
    "title"
    "image";

    grid-template-rows: 10% 5% 85%;
}

    /*PARA SITIOS EN CONSTRUCCION*/

    .mainConstruccion {

        display: flex;
        background-color: #e1d828;
        justify-content: center;
        padding: 15em 0;

        .animatedSitio{
            animation-name: izq;
            animation-duration: 8s;
            padding: 20px;
            font-size: xxx-large;
            &:hover {
                color: red;
            }
        }
        
        @keyframes izq {
            from {
                transform: translateX(-200px);
                opacity: 0;  
            }
            
            to {
               transform: translateX(0); 
            }
        }

        .animateden{
            animation-name: arriba;
            animation-duration: 8s;
            padding: 20px;
            font-size: xxx-large;
            &:hover {
                color: red;
            }
        }
        
        @keyframes arriba {
            from {
                transform: translateY(-200px);
                opacity: 0;  
            }
            
            to {
               transform: translateY(0); 
            }
        }

        .animatedconstruccion{
            animation-name: abajo;
            animation-duration: 8s;
            padding: 20px;
            font-size: xxx-large;
            &:hover {
                color: red;
            }
        }
        
        @keyframes abajo {
            from {
                transform: translateY(200px);
                opacity: 0;  
            }
            
            to {
               transform: translateY(0); 
            }
        }

        .animatedcarac{
            animation-name: derecha;
            animation-duration: 8s;
            padding: 20px;
            font-size: xxx-large;
            &:hover {
                color: red;
            }
        }
        
        @keyframes derecha {
            from {
                transform: translateX(200px);
                opacity: 0;  
            }
            
            to {
               transform: translateX(0); 
            }
        }
    }    
