/*AGREGANDO SASS A MI PROYECTO*/

/*MIXIN*/
@mixin tamaño ($ancho, $alto){
    width: $ancho;
    height: $alto;
}

/*IMPORTS*/

@import "colores";

* {
    margin: 0; padding: 0;
}
@font-face {
    font-family: 'Lobster';
    src: url("../Lobster/Lobster-Regular.ttf");
}

/*EL HEADER ES EL MISMO PARA CADA PAGINA */

@each $sections in NuestraHistoria, AlimentoDiario, CursosEntrevistas, PlanRestaurar, Libros  {
    .header#{$sections} {
        grid-area: headerHis;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $celeste;
        box-shadow: 0px 5px $amarilloclaro;
        font-family: 'Lobster';

        h1 {
            display: flex;
            margin: auto 0% auto 3%;
            font-size: xxx-large;
            text-shadow: 1px 1px 1px $negro;
            color: $blanco;
            border-bottom: 1px solid $blanco;
            
        }
        h2 {
            @extend h1;
            margin: auto 3% auto 0%;
        }


        .animateText {
            animation-name: deslizamiento;
            animation-duration: 4s;
            animation-timing-function:4s cubic-bezier(0,1,1,-0.01);
            @keyframes deslizamiento {
                from {
                   transform: translateX(1000px);    
                }
            
                to {
                  transform: translateX(0); 
                }
            }
        }
    } 
}


#gridHistory {
    body {
        @include tamaño (100%, 100vh);
    }

    display: grid;
    grid-template-areas: 
    "headerHis headerHis headerHis"
    "image paragraph paragraph"
    "subtitle subtitle subtitle"
    "testimony testimony testimony"
    "footer footer footer";

    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 15% 85% 10% 86% 4%;

    #container-image {
        grid-area: image;
        display: flex;
        @include tamaño (100%, 100%);
        .imgSize {
            width: 100%;
        }
    }
    #container-paragraph {
        display: flex;
        grid-area: paragraph;
        text-align: justify;
        padding: 10%;
        background-image: linear-gradient(150deg, $celeste 0%, $blanco 30%);
    }
    .subtitle {
        grid-area: subtitle;
        display: flex;
        background-color: $celeste;
        font-family: 'Lobster';  
        h2 {
            text-align: center;
            margin: auto;
            color: $blanco;
            text-shadow: 1px 1px 1px $gris;
            font-size: xx-large;
        }
    }
    .testimony {
        grid-area: testimony;
        display: flex;
        flex-wrap: wrap;
        div {
            @include tamaño (30%, 47%);
            background-color: $gris;
            margin: 5px;
            border: 1px solid $negro
        }
        img {
            @include tamaño (100%, 100%);
        }
        .transitionImages {
            transition: all 50ms;
            &:hover {
                border: 4px solid $negro;
            }   
        }
    }
    .footerHistory {
        grid-area: footer;
        font-family: 'Lobster';
        text-align: center;
        background-color: $celeste;
    }
}

/****************** GRID PLAN RESTAURAR ********************/

#gridPlanRestaurar {
    body {
        @include tamaño (100%, 100vh);
    }

    display: grid;
    grid-template-rows: 15% 70% 15%; 
}

/****************** GRID ALIMENTO DIARIO ********************/

#gridAlimentoDiario {
    body {
        @include tamaño (100%, 100vh);
    }

    display: grid;
    grid-template-rows: 15% 70% 15%; 
}

/****************** GRID CURSOS ENTREVISTAS ********************/

#gridCursosEntrevistas {
    body {
        @include tamaño (100%, 100vh);
    }

    display: grid;
    grid-template-rows: 15% 70% 15%; 
}

/****************** GRID LIBROS ********************/

#gridCursosEntrevistas {
    body {
        @include tamaño (100%, 100vh);
    }

    display: grid;
    grid-template-rows: 15% 70% 15%; 
}